<h1>posts#show</h1>
    <p><%= @post.title %></p>
    <p>
        <% if @post.image.present? %>
            <%= image_tag @post.image_url, size: '250x200'%>
        <% else %>
            <%= image_tag "nonono.png", size: '250x200' %>
        <% end %>
    </p>
    <p><%= @post.contents %></p>
</div>

<%= link_to "編集する", edit_post_path(@post.id) %>
<%= link_to "post一覧に戻る", posts_path %>